.konvajs-content {
  margin: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5em;
  overflow: hidden;
}

@layer components {
  .popover-arrow {
    @apply w-2 h-2 absolute;

    &::before {
      @apply transform;
      content: '';
    }

    &&::before {
      @apply rotate-45 w-2 h-2 absolute z-0 bg-gray-700;
    }
  }

  .popover > div {
    @apply relative;
  }

  .popover[data-popper-placement^='bottom'] {
    & > div {
      @apply mt-1.5;
    }

    .popover-arrow {
      @apply -mt-1 top-0 left-0;
    }
  }

  .popover[data-popper-placement^='top'] {
    & > div {
      @apply mb-1.5;
    }

    .popover-arrow {
      @apply -mb-1 bottom-0 left-0;
    }
  }

  .popover[data-popper-placement^='right'] {
    & > div {
      @apply ml-1.5;
    }

    .popover-arrow {
      @apply -ml-1;
    }
  }

  .panel-item {
    @apply text-left relative w-full rounded-md border border-gray-300 bg-white px-3 py-2 transition duration-150 sm:text-sm sm:leading-5 focus-within:outline-none focus-within:border-blue-300;
  }

  .button-default {
    @apply inline-flex justify-center items-center text-base sm:text-sm leading-6 sm:leading-5 whitespace-nowrap font-medium transition ease-in-out duration-150;
  }
}
