.konvajs-content {
  margin: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5em;
  overflow: hidden;
}

@layer components {
  .popover-arrow {
    @apply w-2 h-2;
  }

  .popover-arrow::before {
    @apply transform rotate-45 w-2 h-2 absolute z-0 bg-gray-700;
    content: '';
  }

  .popover[data-popper-placement^='bottom'] > div {
    @apply mt-2 relative;

    & .popover-arrow {
      @apply -mt-1 top-0 left-0;
    }
  }

  .popover[data-popper-placement^='top'] > div {
    @apply mb-2 relative;

    & .popover-arrow {
      @apply -mb-1 bottom-0 left-0;
    }
  }

  .panel-item {
    @apply text-left relative w-full rounded-md border border-gray-300 bg-white px-3 py-2 transition duration-150;

    @screen sm {
      @apply text-sm leading-5;
    }
  }

  .panel-item:focus-within {
    @apply outline-none border-blue-300;
  }
}
